body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url('https://media.istockphoto.com/id/1445089366/ru/%D1%84%D0%BE%D1%82%D0%BE/%D0%B7%D0%B0%D0%BF%D0%BE%D0%BB%D0%BD%D0%B5%D0%BD%D0%B8%D0%B5-%D0%B0%D0%BD%D0%BA%D0%B5%D1%82%D1%8B-%D0%BE%D0%BD%D0%BB%D0%B0%D0%B9%D0%BD-%D0%B0%D0%BD%D0%BA%D0%B5%D1%82%D0%B0-%D1%81-%D1%84%D0%BB%D0%B0%D0%B6%D0%BA%D0%B0%D0%BC%D0%B8.jpg?s=2048x2048&w=is&k=20&c=tL85YIjHE01HeVSNBnx6_XVHMiLyRaHWEtZa43Nrw3c=');
  background-size: cover;
  background-position: center;
  position: relative; 
  font-size: 20px;
  font-weight: 600;
  line-height: 1;
  font-family: 'Courier New', Courier, monospace;
}

*, *::before, *::after {
    box-sizing: border-box;
  
section {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
  background-color: rgba(150, 4, 125, 0.5);
} 

.title {
  text-align: center;
}

.form {
  display: flex;
  justify-content: center;
  width: 80%;
  background-color: rgb(183, 187, 248, 0.8);
  border-radius: 4px;
  padding: 20px;
  margin: 0 auto;
}

.name, .email, .number, .dropdown {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 20px;
  border-radius: 5px;
  background-color: #190120;
  color: grey;
}
